# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/settings.json
.idea/

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# WPPConnect (sessão WhatsApp)
backend/tokens/
